table {
    border-collapse: collapse;
    width: 50%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #0cddb0
}

th {
    background-color: #acbb0d;
    color: rgb(33, 10, 242);
}